{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">   <h1>Cities</h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/city">Cities</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/forecast">Forecasts</a>
                </li>
            </ul>

            </div>
        </div>
        </nav>
 

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.longitude }}</td>
                <td>{{ city.latitude }}</td>
                <td>{{ city.code }}</td>
                <td>
                    
                    {% if is_granted('ROLE_CITY_SHOW') %}
                    <a href="{{ path('app_city_show', {'id': city.id}) }}">show</a>
                    {% endif %}
                    
                    {% if is_granted('ROLE_CITY_EDIT') %}
                    <a href="{{ path('app_city_edit', {'id': city.id}) }}">edit</a>
                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_CITY_NEW') %}
    <a href="{{ path('app_city_new') }}">Create new</a>
    {% endif %}
{% endblock %}
