{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Longitude</th>
            <th scope="col">Latitude</th>
            <th scope="col">Code</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for city in cities %}
        <tr>
            <th scope="row">{{ city.id }}</th>
            <td>{{ city.name }}</td>
            <td>{{ city.longitude }}</td>
            <td>{{ city.latitude }}</td>
            <td>{{ city.code }}</td>
            <td>
                {% if is_granted('ROLE_CITY_SHOW') %}
                <a href="{{ path('app_city_show', {'id': city.id}) }}" class="btn btn-primary btn-sm">Show</a>
                {% endif %}

                {% if is_granted('ROLE_CITY_EDIT') %}
                <a href="{{ path('app_city_edit', {'id': city.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                {% endif %}

                <a href="{{ path('app_weather_show', {'id': city.id}) }}" class="btn btn-info btn-sm">Weather</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    {% if is_granted('ROLE_CITY_NEW') %}
    <a href="{{ path('app_city_new') }}" class="btn btn-primary">Create new</a>
    {% endif %}
{% endblock %}
